<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBg9wbTR3Eu_L-SkbY3SPQ5Aj8aXtaG3yM</string>
	<key>GCM_SENDER_ID</key>
	<string>45187346066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spraay.app</string>
	<key>PROJECT_ID</key>
	<string>spraay-app</string>
	<key>STORAGE_BUCKET</key>
	<string>spraay-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45187346066:ios:999e1dbb36e5e49fa1804b</string>
</dict>
</plist>